*{
    padding: 0;
    margin: 0;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    padding-top: 0;




}

/*nav start*/
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color:#B8B8B8!important;
}

.header{

    margin-top: 0;



}
.last-link{
    margin-left: 40px;
}
.navbar-nav{
    padding-left: 13rem;
}
.header .nav-link{
    margin-left: 10px ;
}
.header .nav-link:hover{
 color:#B8B8B8;
}


.header .logo{
    display: inline-block;
    margin-right: 12rem;


}

.header .logo h2{
  color: #071e33;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 1;
  font-family: 'Times New Roman', Times, serif;
}
.icon-border{
    border: white 1px solid;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top:5px
}
.icon-border::before {
    content: "";
    text-align: center;
    bottom:-1px;
    right: -1px;
    width: 38px;
    height: 38px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	  transition: 0.3s ease-in-out;
    border: white 1px solid;
}
.icon-border:hover::before {
    transform: scale(1);

}
.icon-border:focus{
    color: #cee7e7;
}
.icon-border .icons {
	font-size: 19px;
  color: white;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.icon-border:hover .icons {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.btnScroll{
    font-size: 20px;
    position: relative;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    color: white;
    font-weight: 600;
    border-radius: 20px;

}
.btnScroll::before {
  border-radius: 20px;
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .btnScroll:hover {
    color: #121212;
  }
  .btnScroll:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
  }


.header a{
    color:rgba(247, 247, 247, 0.986);
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
}

/*Header start*/
.main{
    background-image: url(../images/bg.jpg);
    height: 110vh;
    background-size: cover;
    background-position:top;
    margin-bottom: 30px;
    padding: 210px 0 150px 0;
}

.portfolio{
  color: white;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(238, 99, 254, 0.7) -5.91%, rgba(80, 0, 133, 0.7) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.712);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  border-radius: 6px ;

}
.main h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: white;
  }
  .main p {
    color:aliceblue;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .main button {
    color: #fff;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 30px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;


  }

  .main button span{
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .main button:hover span {
    margin-left: 25px;
  }
  .main img {
    margin-top: -40px;
    margin-left: 5rem;
    height: 85%;
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }

/*skills start*/


.skill {
    padding: 0 0 50px 0;
    position: relative;
    top: -30px;

  }

  .skill-bx {
    background: #10052d;
    border-radius: 64px;
    text-align: center;
    padding: 30px 50px;
    margin-top: -60px;
  }
  .skill h2 {
      font-size: 45px;
      font-weight: 700;
  }
  .skill p {
      color: #B8B8B8;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 0 0;
  }
  .skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .skill-slider img {
    width: 50%;
    margin: 70px auto 10px auto;
  }
  .swiper-button-next,.swiper-button-prev{
    background-color:rgba(238, 99, 254, 0.3);
    border-radius: 50%;
    width:40px !important;
    height: 40px !important;
    color:white!important;
    top: 10em!important;



  }
  .swiper-button-next:after, .swiper-button-prev:after {

    font-size: 17px !important;


  }
  .swiper-button-next:hover,.swiper-button-prev:hover{
    background-color:rgba(238, 99, 254, 0.5);
    transition:all .5;
  }
/*Projects start*/
.project {
  padding: 80px 0;
  position: relative;
  background-color:#10052d;
  top: -30px;
  overflow: hidden;
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);

}
.project .nav-pills button {
  width: 33.33333%;

}
.project .nav-pills button p{
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav-pills button p::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.project .nav-pills button p:active::before  {
    width: 100% !important;
}
.project .nav-pills button:active {
  border: 1px solid rgba(255, 255, 255, 1);
}


.project .nav-pills button p {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.project .nav-pills button p {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.project .nav-pills button p{
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  margin-bottom: 24px;
  width: 300px;
  height: 300px;


}
.proj-imgbx img{
  width: 300px;
  height: 300px;
  border-radius: 30px;

}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/*Contact start*/
.contact {
  background: linear-gradient(90.21deg, #10052d -5.91%, rgba(80, 0, 133, 0.7) 111.58%);
  padding: 60px 0 220px 0;
  position: relative;
  top: -30px;
  margin-bottom: -30px;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
  color: white;
}

.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 10px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
  outline:#10052d;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 55px;
  position: relative;
  transition: 0.3s ease-in-out;
  border: 0;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background:#10052d;
  width: 0;
  height: 100%;
  position: absolute;
  border-radius: 55px;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}
/*Newsletter start*/

.newsletter-bx {
background: white;
border-radius: 55px;
color: #121212;
padding: 85px 100px;
margin-bottom: 80px;
margin-top: -138px;
margin-left: 94px;
width: 85%;
position: absolute;
z-index: 10;
}
.newsletter-bx h3 {
font-weight: 700;
letter-spacing: 0.5px;
line-height: 1.2em;
}
.new-email-bx {
background: #fff;
padding: 5px;
border-radius: 20px;
position: relative;
z-index: 0;
display: flex;
align-items: center;
}
.new-email-bx::before {
content: "";
background: linear-gradient(90.21deg, #10052d -5.91%, rgba(80, 0, 133, 0.7) 111.58%);
border-radius: 20px;
position: absolute;
z-index: -1;
top: -1px;
left: -1px;
bottom: -1px;
right: -1px;
}
.new-email-bx::after {
content: "";
background: #fff;
border-radius: 20px;
position: absolute;
z-index: -1;
top: 0;
left: 0;
bottom: 0;
right: 0;
}
.new-email-bx input {
width: 100%;
color: #121212;
font-weight: 500;
background: transparent;
border: 0;
padding: 0 15px;
}
.new-email-bx input:focus{
  border: 0;
  outline: 0;
}
.new-email-bx button {
background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
padding: 20px 55px;
color: #fff;
font-weight: 500;
letter-spacing: 0.5px;
border-radius: 18px;
font-size: 20px;
border: 0;
}
/*Footer start*/
.footer {

  padding: 30px 0 20px 0;
  background-image: url('../images/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;





}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;

}
.footer h2{
  padding-top: 125px;
}
.footer .social-icon{
  margin-left: 403px;
  padding-top: 125px;

}
.footer .icon-border{
  padding-top: 8px;
  margin-left: 10px;

}
